* {
    margin: 0px;
    padding: 0px;
}

header {
    padding: 30px;
    max-width: 50%;
    text-align: center;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
}

main {
    background-color: #ffffff;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-radius: 0px 0px 10px 10px;
}